Repository neuroexpert-web/NeuroExpert: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"],
  "package.json": ["npm audit fix --audit-level=moderate"]
}

🎯 ФИНАЛЬНЫЙ ОТЧЕТ: Визуальная Студия полностью готова
  FINAL_DEPLOYMENT_SUMMARY.md
Due: prettier --write

🎯 ИНТЕГРАЦИЯ В MAIN: Визуальная Студия теперь в основной ветке
  MAIN_BRANCH_INTEGRATION.md
Due: prettier --write

Update README with 10-page structure and add text analysis report
  README.md
  TEXT_ANALYSIS_REPORT_2025.md
Due: prettier --write

Refactor landing page with honest startup positioning and messaging
  STARTUP_POSITIONING_STRATEGY.md
  app/page.js
Due: eslint --fix, prettier --write

Update team section with 4 experts and simplified expertise descriptions
  STARTUP_POSITIONING_STRATEGY.md
  app/page.js
Due: eslint --fix, prettier --write

Add comprehensive UX audit document for dashboard usability improvements
  WORKSPACE_USABILITY_AUDIT_2025.md
Due: prettier --write

Refactor dashboard with business metrics widget and improved layout
  app/components/dashboard/DashboardLayout.module.css
  app/components/dashboard/DashboardLayout.tsx
  app/components/dashboard/widgets/BusinessMetricsWidget.module.css
  app/components/dashboard/widgets/BusinessMetricsWidget.tsx
  app/page.js
  types/dashboard.ts
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/api/analytics/google/route.ts
  app/api/analytics/yandex/route.ts
  app/components/dashboard/DashboardFilters.tsx
  app/components/dashboard/DashboardLayout.tsx
  app/components/dashboard/widgets/GoogleAnalyticsWidget.module.css
  app/components/dashboard/widgets/GoogleAnalyticsWidget.tsx
  app/components/dashboard/widgets/YandexMetrikaWidget.module.css
  app/components/dashboard/widgets/YandexMetrikaWidget.tsx
  types/dashboard.ts
Due: eslint --fix, prettier --write

Add new dashboard widgets: SEO, Leads, Email, Social Media, Site Health
  app/components/dashboard/DashboardLayout.tsx
  app/components/dashboard/widgets/EmailMarketingWidget.module.css
  app/components/dashboard/widgets/EmailMarketingWidget.tsx
  app/components/dashboard/widgets/LeadsWidget.module.css
  app/components/dashboard/widgets/LeadsWidget.tsx
  app/components/dashboard/widgets/SEOWidget.module.css
  app/components/dashboard/widgets/SEOWidget.tsx
  app/components/dashboard/widgets/SiteHealthWidget.module.css
  app/components/dashboard/widgets/SiteHealthWidget.tsx
  app/components/dashboard/widgets/SocialMediaWidget.module.css
  app/components/dashboard/widgets/SocialMediaWidget.tsx
  types/dashboard.ts
Due: eslint --fix, prettier --write

Adjust dashboard widget sizes and reposition grid layout
  app/components/dashboard/DashboardLayout.tsx
Due: eslint --fix, prettier --write

Refactor Google Analytics widget with new design and improved data handling
  app/components/dashboard/widgets/GoogleAnalyticsWidget.module.css
  app/components/dashboard/widgets/GoogleAnalyticsWidget.tsx
Due: eslint --fix, prettier --write

Implement multi-model AI assistant with dynamic model selection
  .env.example
  app/api/ai/chat/route.ts
  app/components/workspace/AIAssistant.js
  app/styles/workspace-advanced.css
Due: eslint --fix, prettier --write

Refactor AI assistant UI with improved model selector and layout
  app/components/workspace/AIAssistant.js
  app/styles/workspace-advanced.css
Due: eslint --fix, prettier --write

Add CSS module for AI Assistant with enhanced styling and animations
  app/components/workspace/AIAssistant.js
  app/components/workspace/AIAssistant.module.css
Due: eslint --fix, prettier --write

Refactor AI Assistant with new models, UI, and improved UX
  NEUROEXPERT_PROGRESS_SUMMARY_2025.md
  app/components/workspace/AIAssistant.js
  app/components/workspace/AIAssistant.module.css
  app/styles/workspace-advanced.css
Due: eslint --fix, prettier --write

🚀 URGENT: Deploy AI Assistant with Model Selector & Close Button
  app/components/workspace/AIAssistant.js
  app/styles/workspace-advanced.css
Due: eslint --fix, prettier --write

🔗 Add AI Chat API Route
  app/api/ai/chat/route.ts
Due: eslint --fix, prettier --write

🔄 Force Vercel Cache Bust & Deploy Config
  vercel.json
Due: prettier --write

🔥 FORCE UPDATE: Complete Dashboard & AI Assistant Rewrite
  app/components/dashboard/DashboardLayout.tsx
Due: eslint --fix, prettier --write

⚡ EMERGENCY DEPLOY TRIGGER
  FORCE_DEPLOY_TRIGGER.txt
Due: none

🎯 CRITICAL: Create All 8 Dashboard Widgets
  app/components/dashboard/widgets/BusinessMetricsWidget.module.css
  app/components/dashboard/widgets/BusinessMetricsWidget.tsx
  app/components/dashboard/widgets/EmailMarketingWidget.tsx
  app/components/dashboard/widgets/GoogleAnalyticsWidget.module.css
  app/components/dashboard/widgets/GoogleAnalyticsWidget.tsx
  app/components/dashboard/widgets/LeadsWidget.tsx
  app/components/dashboard/widgets/SEOWidget.tsx
  app/components/dashboard/widgets/SiteHealthWidget.module.css
  app/components/dashboard/widgets/SiteHealthWidget.tsx
  app/components/dashboard/widgets/SocialMediaWidget.tsx
  app/components/dashboard/widgets/YandexMetrikaWidget.module.css
  app/components/dashboard/widgets/YandexMetrikaWidget.tsx
Due: eslint --fix, prettier --write

🔗 FINAL: Add Analytics API Routes
  app/api/analytics/google/route.ts
  app/api/analytics/yandex/route.ts
Due: eslint --fix, prettier --write

🎉 VERSION BUMP: v3.1.0 - Complete Dashboard Overhaul
  package.json
Due: prettier --write, npm audit fix --audit-level=moderate

🚨 FORCE VERCEL REDEPLOY - MANUAL TRIGGER
  vercel-deploy-trigger.json
  vercel.json
Due: prettier --write

📝 README Update - Trigger Vercel Deploy
  README.md
Due: prettier --write

⚙️ VERCEL CONFIG - Force Rebuild Setup
  .vercelignore
  next.config.js
Due: eslint --fix, prettier --write

🔧 FIX BUILD ERROR - Add Missing WorkspaceProvider
  app/components/workspace/WorkspaceProvider.tsx
Due: eslint --fix, prettier --write

📋 DEPLOYMENT DOCUMENTATION & STATUS
  .env.example
  DEPLOYMENT_STATUS.md
Due: prettier --write

Add Vercel force deployment shell script for CI/CD
  package-lock.json
  vercel-force-deploy.sh
Due: prettier --write

🚨🚨🚨 CRITICAL: USER REPORTS NO NEW INTERFACE
  CRITICAL_DEPLOY_NOW.txt
  package.json
Due: prettier --write, npm audit fix --audit-level=moderate

🎯 VISUAL PROOF: Add Clear Version Indicators
  app/components/dashboard/DashboardLayout.tsx
  app/components/dashboard/widgets/BusinessMetricsWidget.tsx
Due: eslint --fix, prettier --write

Update project to 10 pages with new dashboard and improvements
  PROJECT_CONTEXT.md
  PROJECT_STRUCTURE_10_PAGES.md
  PROJECT_STRUCTURE_8_PAGES.md
  README.md
Due: prettier --write

🔥 CRITICAL: Force Vercel deployment with v3.1.1
  vercel-deploy-trigger.json
  vercel.json
Due: prettier --write

Refactor platform structure: 10 pages, clarify modules and navigation
  AI_SYSTEM_PROMPT_UPGRADE_REPORT.md
  PROJECT_STRUCTURE_CLARIFICATION.md
  app/components/workspace/WorkspaceWindows.js
  app/utils/prompts/neuroexpert_v4_enhanced.md
Due: eslint --fix, prettier --write

Add Vercel deployment status documentation with setup guide
  VERCEL_CONNECTION_STATUS.md
Due: prettier --write

Add Vercel deployment workflow and documentation files
  .github/workflows/vercel-deploy.yml
  DEPLOY_NOW.md
  VERCEL_DEPLOYMENT_INSTRUCTIONS.md
  vercel-auto-deploy.sh
Due: prettier --write

🚀 Force deploy: Updated project structure to 10 pages + Vercel deployment trigger
  FORCE_DEPLOY_TRIGGER.txt
Due: none
