Repository neuroexpert-web/NeuroExpert: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

fix: оптимизированы размеры графика источников трафика - теперь всё помещается в окно
  app/globals.css
Due: prettier --write

docs: сохранен полный отчет о прогрессе платформы и выполненной работе
  PLATFORM_PROGRESS_REPORT.md
Due: prettier --write

Refactor env config, update layout metadata, and add technical review report
  .env.example
  TECHNICAL_REVIEW_REPORT_2025.md
  app/components/PricingCalculator.js
  app/layout.js
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

Optimize landing page texts for better conversion and AI value proposition
  TEXTS_OPTIMIZATION_REPORT.md
  app/page.js
Due: eslint --fix, prettier --write

Add final quality assurance report and build output for NeuroExpert v3.0
  FINAL_QUALITY_ASSURANCE_REPORT.md
  build_output.txt
Due: prettier --write

feat: Complete platform optimization and production readiness
  .env.production.safe
Due: none

docs: Add safe production setup guide
  PRODUCTION_SETUP_GUIDE.md
Due: prettier --write

docs: Add comprehensive keys checklist and detailed Telegram setup
  COMPLETE_KEYS_CHECKLIST.md
  TELEGRAM_DETAILED_SETUP.md
Due: prettier --write

docs: Complete comprehensive cabinet audit report
  CABINET_AUDIT_REPORT.md
Due: prettier --write

feat: Add AI assistant integration to support window
  app/api/assistant/route.js
  app/components/workspace/WorkspaceWindows.js
  public/test-support-ai.html
Due: eslint --fix, prettier --write

feat: Upgrade AI system prompts to v4.0 Enhanced with full platform integration
  AI_SYSTEM_PROMPT_UPGRADE_REPORT.md
  app/api/assistant/route.js
  app/components/workspace/WorkspaceWindows.js
  app/utils/prompts/neuroexpert_v4_enhanced.md
  app/utils/prompts/support_specialist_v2.md
Due: eslint --fix, prettier --write

feat: Create Enhanced AI v4.0 with incredible futuristic avatar and UI
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
  app/page.js
  public/test-enhanced-ai.html
Due: eslint --fix, prettier --write

Add comprehensive platform cost estimation document for NeuroExpert
  PLATFORM_COST_ESTIMATION.md
Due: prettier --write

fix: Remove false claims and convert to honest startup version
  app/components/EnhancedFloatingAI.js
  app/components/workspace/WorkspaceWindows.js
  app/layout.js
  app/page.js
  app/utils/prompts/neuroexpert_v4_enhanced.md
Due: eslint --fix, prettier --write

fix: Repair AI dialog functionality and add demo mode
  AI_SETUP_INSTRUCTIONS.md
  app/api/assistant/route.js
  app/components/EnhancedFloatingAI.js
  public/test-ai-dialog.html
Due: eslint --fix, prettier --write

fix: Add CSRF headers and create testing tools for AI dialog
  app/components/EnhancedFloatingAI.js
  public/simple-test.html
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/api/assistant/route.js
Due: eslint --fix, prettier --write

fix: Fix AI API connection and text consistency
  app/components/EnhancedFloatingAI.js
Due: eslint --fix, prettier --write

Add quick AI test HTML page with fetch API test functionality
  public/quick-test.html
Due: none

fix: Force demo mode and add debug logging
  app/api/assistant/route.js
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/page.js
Due: eslint --fix, prettier --write

Add AI model selector with Gemini, Claude, and GPT-4 options
  AI_CHAT_UPDATE_REPORT.md
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: eslint --fix, prettier --write

Fix AI chat: CSRF, demo mode, styling, and debug improvements
  AI_CHAT_FIX_REPORT.md
  app/api/assistant/route.js
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
  test-ai-chat.html
Due: eslint --fix, prettier --write

Add debug tools and visibility fixes for AI chat component
  AI_CHAT_DEBUG_INSTRUCTIONS.md
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
  test-debug.html
Due: eslint --fix, prettier --write

Refactor AI chat UI: minimize design, compact header, simplified controls
  AI_CHAT_MINIMAL_UPDATE.md
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: eslint --fix, prettier --write

Add interactive animations and model switching with visual feedback
  AI_CHAT_ANIMATIONS_REPORT.md
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: eslint --fix, prettier --write

Enhance model selector buttons with advanced animations and interactions
  AI_CHAT_MODEL_BUTTONS_FIX.md
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: eslint --fix, prettier --write

Enhance model switch button animations with dynamic styling and transitions
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: eslint --fix, prettier --write

Optimize performance, update env example, and add documentation files
  .env.example
  PERFORMANCE_OPTIMIZATION_PLAN.md
  SESSION_COMPLETION_REPORT.md
  app/page.js
Due: eslint --fix, prettier --write

📋 ИТОГОВЫЙ ОТЧЕТ: Визуальная Студия полностью внедрена
  VISUAL_STUDIO_COMPLETE_REPORT.md
Due: prettier --write

🔒 Заменен проблемный файл на безопасный SAFE_PRODUCTION_KEYS.md
  SAFE_PRODUCTION_KEYS.md
Due: prettier --write

🎛️ ВИЗУАЛЬНАЯ СТУДИЯ: Полная замена Личного кабинета
  .vercelignore
  app/api/events/route.ts
  app/api/metrics/overview/route.ts
  app/api/systemmetrics/route.ts
  app/components/dashboard/DashboardFilters.module.css
  app/components/dashboard/DashboardFilters.tsx
  app/components/dashboard/DashboardLayout.module.css
  app/components/dashboard/DashboardLayout.tsx
  app/components/dashboard/widgets/ErrorsWidget.module.css
  app/components/dashboard/widgets/ErrorsWidget.tsx
  app/components/dashboard/widgets/SLOWidget.module.css
  app/components/dashboard/widgets/SLOWidget.tsx
  app/components/dashboard/widgets/SystemWidget.module.css
  app/components/dashboard/widgets/SystemWidget.tsx
  app/components/dashboard/widgets/TrafficWidget.module.css
  app/components/dashboard/widgets/TrafficWidget.tsx
  app/dashboard/page.tsx
  app/page.js
  app/test-dashboard/page.tsx
  types/dashboard.ts
  vercel.json
Due: eslint --fix, prettier --write

🔧 FIX: Исправлен vercel.json - убрана некорректная секция functions
  vercel.json
Due: prettier --write

⚙️ Добавлен next.config.js для стабильной работы на Vercel
  next.config.js
Due: eslint --fix, prettier --write

📋 Документация исправлений Vercel build
  VERCEL_BUILD_FIX.md
Due: prettier --write

Checkpoint before follow-up message
  next.config.js
Due: eslint --fix, prettier --write

🔥 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Полностью переписан next.config.js
  next.config.js
Due: eslint --fix, prettier --write

📊 Добавлен отчет о статусе исправлений build
  BUILD_STATUS.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  npm audit fix --audit-level=moderate: any of: package.json
