Repository neuroexpert-web/NeuroExpert: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

Refactor test page styles and add CSS module classes
  app/test/page.module.css
  app/test/page.tsx
Due: eslint --fix, prettier --write

Add comprehensive NeuroExpert repository audit documentation
  NEUROEXPERT_AUDIT_2025.md
Due: prettier --write

Checkpoint before follow-up message
  TZ_COMPLIANCE_REPORT_2025.md
Due: prettier --write

Refactor homepage with swipe navigation and lazy-loaded sections
  app/components/SolutionsSection.tsx
  app/components/SwipeContainer.module.css
  app/components/SwipeContainer.tsx
  app/page.js
Due: eslint --fix, prettier --write

Add implementation strategy document with phased roadmap
  IMPLEMENTATION_STRATEGY.md
Due: prettier --write

Implement major features from technical specification
  app/components/AdvancedROICalculator.module.css
  app/components/AdvancedROICalculator.tsx
  app/components/AnalyticsEnhanced.tsx
  app/globals.css
  app/page.js
  package-lock.json
  package.json
  sentry.client.config.ts
Due: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

Fix Vercel deployment issues
  .vercelignore
  app/page.js
  package.json
Due: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

Add production env example and Vercel setup documentation
  .env.production.example
  VERCEL_SETUP.md
Due: prettier --write

Fix jsonVault import error
  app/components/AdvancedROICalculator.tsx
  app/components/AnalyticsEnhanced.tsx
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/components/AdvancedROICalculator.tsx
Due: eslint --fix, prettier --write

Temporarily disable JSON Vault for deployment
  app/components/AdvancedROICalculator.tsx
  app/components/AnalyticsEnhanced.tsx
Due: eslint --fix, prettier --write

Add deployment success documentation with feature overview and setup guide
  DEPLOYMENT_SUCCESS.md
Due: prettier --write

Fix build errors
  app/layout.js
  sentry.client.config.js
Due: eslint --fix, prettier --write

Remove TypeScript completely for Vercel
  app/components/AboutSection.jsx
  app/components/AdvancedROICalculator.jsx
  app/components/SmokeTestPanel/types.ts
  app/components/SolutionsSection.jsx
  app/components/SwipeContainer.jsx
  app/utils/aiChat.d.ts
  app/utils/error-handler.ts
  tsconfig.json
  types/index.d.ts
Due: eslint --fix, prettier --write

Fix all JavaScript syntax errors
  app/api/admin/auth/route.js
  app/components/AdvancedROICalculator.jsx
  app/components/SolutionsSection.jsx
  app/components/SwipeContainer.jsx
Due: eslint --fix, prettier --write

Add project structure analysis documentation for NeuroExpert
  PROJECT_STRUCTURE_ANALYSIS.md
Due: prettier --write

Add implementation plan and TZ compliance report for NeuroExpert project
  IMPLEMENTATION_PLAN.md
  TZ_COMPLIANCE_REPORT.md
Due: prettier --write

Add cursor integration with AI annotation and analysis features
  PAGE_UPGRADE_PLAN.md
  app/components/CursorIntegration/AnnotationPanel.tsx
  app/components/CursorIntegration/CursorIntegration.module.css
  app/components/CursorIntegration/CursorOverlay.tsx
  app/components/CursorIntegration/hooks/useCursorAPI.ts
  app/components/CursorIntegration/index.tsx
  app/components/CursorIntegration/types.ts
  app/hooks/useLocalStorage.ts
  app/page.js
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/components/SwipeContainer.jsx
  app/hooks/useAnalytics.ts
  app/hooks/useVault.ts
  app/page.js
Due: eslint --fix, prettier --write

Optimize NeuroExpertHero with performance, analytics, and accessibility
  app/components/NeuroExpertHero.js
Due: eslint --fix, prettier --write

Remove TypeScript types and update import path in AIDirectorCapabilities
  app/components/AIDirectorCapabilities.js
  app/components/AdvancedROICalculator.jsx
Due: eslint --fix, prettier --write

Add burger menu navigation with responsive design and animations
  app/components/BurgerMenu/BurgerMenu.module.css
  app/components/BurgerMenu/index.jsx
  app/page.js
Due: eslint --fix, prettier --write

Enhance navigation dots with improved accessibility, styling, and tooltips
  app/components/SwipeContainer.jsx
  app/components/SwipeContainer.module.css
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/components/AdvancedROICalculator.jsx
Due: eslint --fix, prettier --write

Refactor imports, remove TypeScript types, and add placeholder components
  app/api/assistant/route.js
  app/components/AnalyticsDashboard/index.js
  app/components/CursorIntegration/index.js
  app/components/SwipeContainer.jsx
Due: eslint --fix, prettier --write

Fix import path for rate limit middleware
  app/api/contact-form/route.js
Due: eslint --fix, prettier --write

Add SwipeContainer component with progress indicator and navigation dots
  app/components/SwipeContainer.jsx
  app/components/SwipeContainer.module.css
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/components/AnalyticsDashboard.jsx
  app/components/SolutionsSection.jsx
Due: eslint --fix, prettier --write

✨ Полная интеграция SwipeContainer с 8 секциями
  app/components/AboutSection.jsx
  app/page.js
Due: eslint --fix, prettier --write

🎨 ПРЕМИУМ ДИЗАЙН-СИСТЕМА v3.0 - Футуристичный NeuroExpert
  app/components/NeuroExpertHero.js
  app/components/SwipeContainer.module.css
  app/layout.js
  app/page.js
  app/styles/neuro-design-system.css
Due: eslint --fix, prettier --write

🔐 АРХИТЕКТУРНАЯ ИНТЕГРАЦИЯ v3.0 - Полная система аналитики и безопасности
  app/api/analytics/events/route.js
  app/components/SwipeContainer.jsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

🔧 HOTFIX: Исправление зависимостей для production сборки
  app/api/analytics/events/route.js
  app/api/analytics/health/route.js
  app/components/SwipeContainer.jsx
Due: eslint --fix, prettier --write

🔧 КРИТИЧЕСКИЙ ФИКС: Добавлены забытые файлы lib/ заблокированные .gitignore
  .gitignore
  app/lib/analytics/AnalyticsOrchestrator.js
  app/lib/analytics/client.js
  app/lib/analytics/services/GoogleAnalyticsService.js
  app/lib/analytics/services/InternalAnalyticsService.js
  app/lib/analytics/storage.js
  app/lib/analytics/validation.js
  app/lib/security/auth.js
  app/lib/security/rateLimit.js
Due: eslint --fix, prettier --write

🚀 PRODUCTION HOTFIX: Исправление критических ошибок на Vercel
  app/layout.js
  app/lib/analytics/client.js
  next.config.js
Due: eslint --fix, prettier --write

Add SwipeContainer component with touch and keyboard navigation
  app/components/SwipeContainer.tsx
  app/styles/SwipeContainer.module.css
Due: eslint --fix, prettier --write

Remove dynamic mouse-tracking gradient in PremiumHero, use static Polar Night background
  app/components/PremiumHero.tsx
Due: eslint --fix, prettier --write

✨ Implement 8-page structure with swipe navigation
  PROJECT_STRUCTURE_8_PAGES.md
  README.md
  app/components/AboutSection.jsx
  app/components/AnalyticsDashboard.jsx
  app/components/SolutionsSection.jsx
  app/components/SwipeContainer.jsx
  app/components/SwipeContainer.module.css
  app/page.js
Due: eslint --fix, prettier --write

🐛 Fix build error: Remove analytics dependency from SwipeContainer
  app/components/SwipeContainer.jsx
Due: eslint --fix, prettier --write

🎨 Add futuristic design system foundation
  DESIGN_ANALYSIS_REPORT.md
  app/layout.js
  app/styles/neuroexpert-design-system.css
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/components/NeuroExpertHeroEnhanced.js
  app/page.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  npm audit fix --audit-level=moderate: any of: package.json
