Repository neuroexpert-web/NeuroExpert: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"],
  "package.json": ["npm audit fix --audit-level=moderate"]
}

Fix calculators with updated pricing, ROI logic, and comprehensive testing
  CALCULATOR_FIXES_REPORT.md
  app/components/PricingCalculatorFixed.tsx
  app/components/ROICalculatorFixed.tsx
  app/page.js
  scripts/test-calculators.js
Due: eslint --fix, prettier --write

Add mobile optimization: menu, styles, and calculator improvements
  MOBILE_OPTIMIZATION_REPORT.md
  app/components/MobileMenu.module.css
  app/components/MobileMenu.tsx
  app/components/MobileOptimizedCalculators.css
  app/components/MobileStyles.module.css
Due: eslint --fix, prettier --write

feat: Add initial redesign of the hero section
  index.html
  style.css
Due: prettier --write

feat: Integrate new minimalist design into Next.js structure
  app/globals.css
  app/page.js
  app/page.original.js
  app/styles/redesign-preview.css
Due: eslint --fix, prettier --write

feat: Add analytics dashboard as second page with swipe navigation
  app/globals.css
  app/page.js
  app/styles/analytics-style.css
Due: eslint --fix, prettier --write

feat: Add audience analysis page with interactive segments
  app/globals.css
  app/page.js
  app/styles/audience-style.css
Due: eslint --fix, prettier --write

feat: Add business process management page with task priorities and resource monitoring
  app/globals.css
  app/page.js
  app/styles/processes-style.css
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  latest-changes.patch
Due: none

refactor: улучшенный дизайн первой страницы с анимацией и навигацией
  app/globals.css
  app/page.js
  app/styles/redesign-preview.css
  index.html
  style.css
Due: eslint --fix, prettier --write

refactor: обновление страницы аналитики с живыми KPI и графиками
  app/components/AnalyticsCharts.js
  app/components/RealtimeUpdates.js
  app/globals.css
  app/page.js
  app/styles/analytics-style-v2.css
  app/styles/analytics-style.css
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

fix: исправлен скролл на второй странице аналитики
  app/page.js
  app/styles/analytics-style-v2.css
Due: eslint --fix, prettier --write

refactor: улучшенный UX и визуал аналитики с пояснениями
  app/components/OnboardingTour.js
  app/components/TooltipManager.js
  app/globals.css
  app/page.js
  app/styles/analytics-style-v3.css
Due: eslint --fix, prettier --write

feat: улучшение UX аудитории с интерактивными сегментами и графиками
  app/components/AudienceTooltips.js
  app/components/SegmentManager.js
  app/globals.css
  app/page.js
  app/styles/audience-style-v2.css
Due: eslint --fix, prettier --write

refactor: улучшение страницы управления процессами с UX акцентом
  app/components/ProcessManager.js
  app/components/ProcessTooltips.js
  app/globals.css
  app/page.js
  app/styles/processes-style-v2.css
Due: eslint --fix, prettier --write

feat: создание страницы «Решения» — каталог услуг и пакетов
  app/components/SolutionsComparison.js
  app/components/SolutionsManager.js
  app/globals.css
  app/page.js
  app/styles/solutions-style.css
Due: eslint --fix, prettier --write

fix: добавлена 5-я страница 'Решения' в массив навигации
  app/page.js
Due: eslint --fix, prettier --write

feat: создание страницы безопасности с сертификатами и аккордеонами
  app/components/CertificatesModal.js
  app/components/SecurityAccordion.js
  app/components/SecurityTooltips.js
  app/globals.css
  app/page.js
  app/styles/security-style.css
Due: eslint --fix, prettier --write

feat: создана страница "О компании" с командой и достижениями
  app/components/AboutAnimations.js
  app/components/TeamModal.js
  app/components/ValuesTooltips.js
  app/globals.css
  app/page.js
  app/styles/about-style.css
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/page.js
Due: eslint --fix, prettier --write

feat: создана страница калькулятора с расчетом стоимости и тарифами
  app/components/PricingCalculator.js
  app/components/PricingComparison.js
  app/components/PricingTooltips.js
  app/globals.css
  app/page.js
  app/styles/pricing-style.css
Due: eslint --fix, prettier --write

feat: создана страница Контакты с интеграцией формы и CRM
  app/components/ContactFormHandler.js
  app/components/ContactMap.js
  app/components/ContactValidation.js
  app/globals.css
  app/page.js
  app/styles/contacts-style.css
Due: eslint --fix, prettier --write

docs: добавлена документация по выполненному редизайну
  REDESIGN_SUMMARY.md
Due: prettier --write

fix: исправление версий зависимостей для корректной сборки на Vercel
  index.html
  latest-changes.patch
  package.json
  style.css
Due: prettier --write, npm audit fix --audit-level=moderate

Checkpoint before follow-up message
  app/components/WorkspaceManager.js
  app/globals.css
  app/styles/workspace-style.css
Due: eslint --fix, prettier --write

feat: создан личный кабинет клиента - мультиоконное рабочее пространство
  app/components/AIPersonalization.js
  app/components/GamificationHub.js
  app/components/RealtimeEngine.js
  app/components/WidgetSystem.js
  app/components/WindowManager.js
  app/components/WorkspaceManager.js
  app/globals.css
  app/styles/workspace-style.css
Due: eslint --fix, prettier --write

feat: добавлен личный кабинет клиента с мультиоконным интерфейсом
  app/components/AIPersonalization.js
  app/components/GamificationHub.js
  app/components/RealtimeEngine.js
  app/components/WidgetSystem.js
  app/components/WindowManager.js
  app/components/WorkspaceManager.js
  app/styles/workspace-style.css
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/components/AIPersonalization.js
  app/components/RealtimeEngine.js
  app/components/WidgetSystem.js
  app/components/WindowManager.js
  app/components/WorkspaceManager.js
  app/styles/workspace-style.css
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/components/WidgetSystem.js
  app/components/WindowManager.js
  app/components/WorkspaceManager.js
  app/styles/workspace-style.css
Due: eslint --fix, prettier --write

feat: создан личный кабинет клиента - мультиоконное рабочее пространство с real-time обновлениями
  app/components/AIPersonalization.js
  app/components/GamificationHub.js
  app/components/RealtimeEngine.js
  app/components/WidgetSystem.js
  app/components/WindowManager.js
  app/components/WorkspaceManager.js
  app/styles/workspace-style.css
Due: eslint --fix, prettier --write

Fix deployment issues: add missing WorkspaceManager imports, fix ESLint errors, update Next.js to secure version 14.2.32
  app/components/AudienceTooltips.js
  app/components/ContactValidation.js
  app/components/PricingCalculator.js
  app/components/ProcessTooltips.js
  app/components/SecurityTooltips.js
  app/page.js
  app/styles/workspace-style.css
  package.json
Due: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

Add deployment guide and environment variables template
  DEPLOYMENT_GUIDE.md
Due: prettier --write

Implement workspace placeholder and add cabinet components
  CABINET_FIX_REPORT.md
  app/components/CabinetSection.js
  app/components/SimpleCabinet.js
  app/globals.css
  app/page.js
  app/styles/workspace-full.css
  app/styles/workspace-style.css
  test-workspace.html
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  app/globals.css
Due: prettier --write

Fix production errors: startBehaviorTracking, ResizeObserver, manifest.json, CSS MIME type
  app/components/AIPersonalization.js
  app/components/WidgetSystem.js
  next.config.js
  public/icon-192x192.png
  public/icon-512x512.png
  public/manifest.json
Due: eslint --fix, prettier --write

Fix page.js syntax error: remove broken commented code
  app/page.js.backup
Due: none

Replace cabinet placeholder with full demo workspace without authentication
  app/page.js
Due: eslint --fix, prettier --write
