Repository neuroexpert-web/NeuroExpert: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

🚀 FINAL: 10-page NeuroExpert platform with SwipeContainer + Node.js 22.x for Vercel
  EMERGENCY_VERCEL_DEPLOY.md
  package-lock.json
  package.json
Due: prettier --write, npm audit fix --audit-level=moderate

🚨 FORCE DEPLOY: Add Vercel trigger and instant deploy instructions
  INSTANT_VERCEL_DEPLOY.md
  vercel-deploy-trigger.json
Due: prettier --write

Secure debug endpoints and reduce prod data leakage
  app/api/debug-env/route.js
  app/api/debug/route.js
Due: eslint --fix, prettier --write

Refactor: Update Node.js version and logging configurations
  alembic/env.py
  app/api/assistant/route.js
  app/api/contact-form/route.js
  app/api/telegram-diagnostic/route.js
  app/api/telegram-test/route.js
  auth.py
  backend/__init__.py
  main.py
  netlify.toml
  next.config.js
  package.json
  tests/test_auth.py
  tests/test_main.py
  vercel.json
Due: eslint --fix, prettier --write, npm audit fix --audit-level=moderate

Refactor: Remove unused services and update env vars
  docker-compose.yml
Due: none

feat: Re-enable rate limiting and improve AI health check
  app/api/contact-form/route.js
  app/api/health/route.js
Due: eslint --fix, prettier --write

Update NeuroExpert v4 prompt with internal knowledge base
  app/utils/prompts/neuroexpert_v4_enhanced.md
Due: prettier --write

Refactor: Add id to PricingCalculator and fix import path
  app/page.js
Due: eslint --fix, prettier --write

Add x402 payment integration and production deployment guides
  NeuroExpert-main/COINBASE_CDP_SETUP_GUIDE.md
  NeuroExpert-main/PRODUCTION_DEPLOYMENT_GUIDE.md
  NeuroExpert-main/X402_PRODUCTION_READY_REPORT.md
  NeuroExpert-main/X402_QUICK_START.md
  NeuroExpert-main/database/schema.sql
  NeuroExpert-main/scripts/test-x402-integration.js
  NeuroExpert-main/utils/x402Client.js
  NeuroExpert-main/utils/x402Payment.js
Due: eslint --fix, prettier --write

Trigger Vercel deployment after repository structure fix
  vercel.json
Due: prettier --write

Fix GitHub Actions workflow syntax error in ci-cd-complete.yml
  .github/workflows/ci-cd-complete.yml
Due: none

Fix GitHub Actions: change branch from main to master
  .github/workflows/ci-cd-complete.yml
Due: none

Fix GitHub Actions: remove secrets check from if condition
  .github/workflows/ci-cd-complete.yml
Due: none

Deploy: Trigger GitHub Actions CI/CD pipeline for Vercel deployment
  .github/workflows/ci-cd-complete.yml
Due: none

Fix: Simplify GitHub Actions workflow for Vercel deployment
  .github/workflows/ci-cd-complete.yml
Due: none

Fix: Simplify vercel.json configuration for Next.js deployment
  vercel.json
Due: prettier --write

Remove vercel.json - let Vercel auto-detect Next.js configuration
  vercel.json
Due: prettier --write

Fix: Add lib/x402Config.js - was blocked by .gitignore
  .gitignore
  lib/x402Config.js
Due: eslint --fix, prettier --write

Fix: Remove unreachable code in AgentList.js - ESLint error
  app/components/AgentList.js
Due: eslint --fix, prettier --write

Fix Vercel deployment errors: add service field to DashboardFilters type, fix CSS autoprefixer warning, remove deprecated appDir config
  app/components/dashboard/widgets/YandexMetrikaWidget.module.css
  next.config.js
  types/dashboard.ts
Due: eslint --fix, prettier --write

Fix widget size type compatibility - remove unsupported 'full' size
  types/dashboard.ts
Due: eslint --fix, prettier --write

Fix white screen: convert sections array to objects with name property for SwipeContainer compatibility
  app/page.js
Due: eslint --fix, prettier --write

Fix Service Worker: remove non-existent files from precache to prevent errors
  public/sw.js
Due: eslint --fix, prettier --write

Fix React error #31: render section.name instead of object in navigation
  app/components/SwipeContainer.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  npm audit fix --audit-level=moderate: any of: package.json
