Repository neuroexpert-web/NeuroExpert: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

Update audit report with comprehensive security and project review
  AUDIT_REPORT_2025.md
Due: e2e

chore: add dev tools, security scans, and project setup scripts
  .github/workflows/security-scan.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  IMPROVEMENTS.md
  commitlint.config.js
  package-lock.json
  package.json
  scripts/setup-sentry.js
  scripts/test-telegram.js
  test-telegram-now.js
Due: e2e

Add Sentry error monitoring with comprehensive setup and utilities
  .env.sentry.example
  SENTRY_SETUP_GUIDE.md
  app/components/ErrorBoundary.js
  app/layout-with-sentry.example.js
  app/test-sentry/page.js
  app/utils/sentry.js
  next.config.js
  package-lock.json
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: unit, e2e

Add documentation site with Docusaurus, ROI calculator docs, and Husky fix
  .husky/install.mjs
  DOCUMENTATION_SETUP.md
  VERCEL_HUSKY_FIX.md
  docs-site/docs/components/roi-calculator.md
  docs-site/docs/intro.md
  docs-site/docusaurus.config.js
  docs-site/package.json
  docs-site/sidebars.js
  docs-site/src/css/custom.css
  package-lock.json
  package.json
  scripts/prepare.js
Due: e2e

Add API documentation generation and Swagger UI integration
  .github/workflows/api-docs.yml
  VERCEL_BUILD_FIX.md
  app/api-docs/page.js
  app/utils/sentry.js
  next.config.js
  package-lock.json
  package.json
  public/openapi.yaml
  scripts/generate-openapi.js
  sentry.client.config.ts
Due: unit, e2e

chore: setup project development workflow and contribution guidelines
  .czrc
  .github/pull_request_template.md
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  CONTRIBUTING.md
  package.json
Due: e2e

Add enhanced design components with animations and interactive effects
  ENHANCED_DESIGN_GUIDE.md
  app/components/enhanced/AnimatedCard3D.js
  app/components/enhanced/ConfettiEffect.js
  app/components/enhanced/CountUpAnimation.js
  app/components/enhanced/LottieAnimation.js
  app/components/enhanced/NotificationSystem.js
  app/components/enhanced/ParticlesBackground.js
  app/components/enhanced/TypewriterText.js
  app/design-showcase/page.js
  package-lock.json
  package.json
Due: unit, e2e

Add debug tools, responsive styles, and comprehensive project validation
  .env.example
  DEBUG_CHECKLIST.md
  app/components/LinkChecker.js
  app/components/TextValidator.js
  app/globals.css
  debug-report.json
  responsive-test.html
  scripts/auto-fix.js
  scripts/debug-and-test.js
Due: unit, e2e

Migrate to @tsparticles/react with slim configuration and improved setup
  app/components/enhanced/ParticlesBackground.js
  package-lock.json
  package.json
Due: unit, e2e

Refactor components, add mobile styles, and create testing scripts
  app/components/ROICalculator.tsx
  app/components/SmartFloatingAI.js
  app/components/enhanced/ParticlesBackground.js
  app/design-showcase/page.js
  app/styles/mobile-fixes.css
  scripts/component-checker.js
  scripts/full-auto-fix.js
  scripts/run-tests.js
Due: unit, e2e

Refactor AI chat, ROI calculator, and design showcase components
  app/components/ROICalculator.tsx
  app/components/SmartFloatingAI.js
  app/design-showcase/page.js
Due: unit, e2e

Add Code Agent configuration and documentation for automated code analysis
  .code-agent.yml
  .github/CODE_AGENT_EXAMPLE.md
  .github/workflows/code-agent.yml
  docs/CODE_AGENT.md
Due: e2e

Add form and ROI calculator documentation with comprehensive test script
  FORM_AND_CALC_STATUS.md
  scripts/test-form-and-calc.js
Due: e2e

Remove logger, add project status files, and update health check script
  FINAL_PROJECT_STATUS.md
  app/api/health/route.js
  check-report.json
  scripts/full-project-check.js
  scripts/simple-check.js
Due: unit, integration, e2e

Fix UI issues: AI chat, ROI calculator, and modal interactions
  FINAL_FIXES_REPORT.md
  FIXES_SUMMARY.md
  app/components/NeuroExpertHero.js
  app/components/ROICalculator.tsx
  app/components/ROIResultModal.tsx
  app/components/SmartFloatingAI.js
  app/components/UIFixes.js
  app/globals.css
  app/layout.js
  app/page.js
  app/test-interactions/page.js
  app/utils/aiChat.js
  scripts/debug-interactions.js
  scripts/fix-ui-issues.js
  scripts/test-functionality.js
Due: unit, e2e

Add TypeScript build info for project configuration
  tsconfig.tsbuildinfo
Due: e2e

Add comprehensive NeuroExpert project audit report and checklist
  NEUROEXPERT_AUDIT_CHECKLIST_RU.md
  NEUROEXPERT_AUDIT_REPORT_2025_RU.md
Due: e2e

Add Tailwind CSS, Sentry, and pre-launch checklist for project setup
  PRE_LAUNCH_CHECKLIST.md
  app/globals.css
  package-lock.json
  package.json
  postcss.config.js
  sentry.client.config.ts
Due: unit, e2e

Create integration guide and backup main page for NeuroExpert project
  INTEGRATION_GUIDE_V0.md
  app/page.backup-20250822-193053.js
Due: unit, e2e

Add documentation for Vercel alternatives and login troubleshooting
  VERCEL_ALTERNATIVES.md
  VERCEL_LOGIN_FIX.md
Due: e2e

Checkpoint before follow-up message
  app/globals.css
  postcss.config.js
  tailwind.config.js
Due: unit, e2e

Add deployment guide and remove unused Tailwind CSS dependencies
  QUICK_DEPLOY_NOW.md
  package-lock.json
  package.json
Due: e2e

Add comprehensive guide for copying code from v0.app
  V0_CODE_COPY_GUIDE.md
Due: e2e

Refactor logging: Replace console.log with structured logger in production
  .eslintrc.json
  CONSOLE_LOG_CLEANUP_REPORT.md
  app/api/assistant/route.js
  app/layout.js
  app/utils/clientLogger.js
  app/utils/logger.js
  docs/LOGGING_GUIDE.md
  scripts/replace-console-logs.js
Due: unit, integration, e2e

Checkpoint before follow-up message
  app/globals.css.backup
  app/layout.js.backup
  app/layout.tsx
  app/page.js.backup
  components/theme-provider.tsx
Due: unit, e2e

Refactor app structure, add AI integration, and update page components
  app/components/AIManagerIntegration.tsx
  app/layout.js
  app/layout.tsx
  app/page.js
  app/page.tsx
  components.json
  postcss.config.js
  tsconfig.json
Due: unit, e2e

Refactor AI integration and layout, update styling and dependencies
  app/components/AIManagerIntegration.tsx
  app/layout.tsx
  package-lock.json
  package.json
  postcss.config.js
Due: unit, e2e

Fix Vercel deployment: add PostCSS and Tailwind configs
  package.json
  postcss.config.js
  tailwind.config.js
Due: e2e

Fix Vercel build: move Tailwind and PostCSS to dependencies
  app/globals.css
  package.json
Due: unit, e2e

Fix Vercel build: move autoprefixer to dependencies
  package.json
Due: e2e

Fix Tailwind CSS build error: replace @apply with CSS variables
  app/globals.css
  tailwind.config.js
Due: unit, e2e

Fix CSP and React hydration errors
  app/page.tsx
  next.config.js
Due: unit, e2e

Add navigation and platform pages structure
  app/components/Navigation.tsx
  app/home-sections/page.tsx
  app/page.tsx
  app/platform/page.tsx
Due: unit, e2e

Fix ROI Calculator modal mobile responsiveness
  app/components/ROICalculator.tsx
  app/components/ROIResultModal.tsx
Due: unit, e2e

Modernize contact form with improved UX and design
  app/api/contact-form/route.js
  app/components/ContactForm.js.backup
  app/components/ContactForm.tsx
  app/globals.css
  app/home-sections/page.tsx
  app/platform/page.tsx
Due: unit, integration, e2e

Fix TypeScript import extensions for Next.js build
  app/home-sections/page.tsx
  app/platform/page.tsx
Due: unit, e2e

Optimize homepage performance - remove heavy animations and Vanta.js
  app/globals.css
  app/page-heavy.tsx.backup
  app/page.tsx
Due: unit, e2e

Fix animations not loading - add global styles and animation delays
  app/page.tsx
Due: unit, e2e

Path conditions:
  unit: any of: app/**, components/**, utils/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  integration: any of: app/api/**, lib/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  e2e: any of: **, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
