Repository neuroexpert-web/NeuroExpert: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

codecov.yml:

# Codecov configuration file
# https://docs.codecov.io/docs/codecov-yaml

# Repository setup
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage configuration
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    # Project coverage
    project:
      default:
        target: 80%
        threshold: 2%
        paths:
          - "app/**"
          - "components/**"
          - "lib/**"
          - "utils/**"
        
    # Patch coverage (for PRs)
    patch:
      default:
        target: 85%
        threshold: 5%
        
    # No status check failures
    changes: false

# Parser configuration
parsers:
  javascript:
    enable_partials: true

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  show_carryforward: true
  show_critical_paths: true

# Ignore paths
ignore:
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/node_modules/**"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/coverage/**"
  - ".next/**"
  - "out/**"
  - "public/**"
  - "scripts/**"
  - "*.config.js"
  - "*.setup.js"

# Flag configuration (for different test suites)
flags:
  unit:
    paths:
      - "app/**"
      - "components/**"
      - "utils/**"
    carryforward: true
    
  integration:
    paths:
      - "app/api/**"
      - "lib/**"
    carryforward: true
    
  e2e:
    paths:
      - "**"
    carryforward: false

# GitHub integration
github_checks:
  annotations: true

Refactor AI Director and ROI Calculator with new Polar Night theme
  app/components/AIDirectorCapabilities.js
  app/components/PricingCalculator.module.css
  app/components/PricingCalculator.tsx
  app/components/ROICalculator.module.css
  app/components/ROICalculator.tsx
  app/globals.css
  app/page.js
  app/styles/polar-night-theme.css
  types/index.d.ts
Due: unit, e2e

Set default values for ROI calculator form data fields
  app/components/ROICalculator.tsx
  types/index.d.ts
Due: unit, e2e

Refactor homepage and navigation styles with modern design and interactivity
  app/components/HomePage.module.css
  app/components/SwipeContainer.jsx
  app/components/SwipeContainer.module.css
Due: unit, e2e

Fix homepage design issues: smaller menu, visible titles, dark background with glass effect, collapsible navigation
  app/components/HomePage.module.css
  app/components/HomePage.tsx
  app/components/SwipeContainer.jsx
  app/components/SwipeContainer.module.css
Due: unit, e2e

Remove platform button and make navigation menu transparent
  app/components/HomePage.tsx
  app/components/SwipeContainer.module.css
Due: unit, e2e

Fix AI manager button navigation and make menu fully transparent
  app/components/HomePage.tsx
  app/components/SwipeContainer.module.css
Due: unit, e2e

Fix AI button navigation and remove unused header menu
  app/components/HomePage.tsx
  app/page.js
Due: unit, e2e

Fix ROI calculator scrolling and visibility
  app/components/ROICalculator.module.css
  app/components/SwipeContainer.module.css
  app/page.js
Due: unit, e2e

Checkpoint before follow-up message
  app/components/ROICalculator.module.css
Due: unit, e2e

Fix ROI calculator visibility - add backgrounds and improve contrast
  app/components/ROICalculator.module.css
  app/components/ROIResultModal.tsx
Due: unit, e2e

Fix scrolling and display issues for all pages (3-9)
  app/components/AIDirectorCapabilities.js
  app/components/ROICalculator.module.css
  app/components/SwipeContainer.jsx
  app/components/SwipeContainer.module.css
  app/page.js
Due: unit, e2e

Checkpoint before follow-up message
  app/components/AIDirectorCapabilities.js
  app/components/ROICalculator.module.css
  app/components/SecuritySection.jsx
  app/components/SolutionsSection.jsx
  app/page.js
Due: unit, e2e

Complete detailed check and fixes for pages 3-9
  app/components/AboutSection.jsx
Due: unit, e2e

Fix mobile issues: swipe sensitivity, header overlap, button visibility
  app/components/PricingCalculator.module.css
  app/components/ROICalculator.module.css
  app/components/ROIResultModal.tsx
  app/components/SwipeContainer.jsx
  app/page.js
Due: unit, e2e

CRITICAL SECURITY FIX: Remove exposed Telegram bot token and sensitive files
  COMPLETE_DEPLOYMENT_GUIDE.md
  DEPLOYMENT_COMMANDS.md
  TELEGRAM_FINAL_FIX.md
  URGENT_DEPLOYMENT_FIX.md
  test-telegram-now.js
Due: e2e

Remove demo mode, improve mobile adaptation, collapse menu by default
  app/components/AnalyticsRealTimeDashboard.module.css
  app/components/AnalyticsRealTimeDashboard.tsx
  app/components/SwipeContainer.jsx
Due: unit, e2e

Fix text visibility on AI Director page - ensure white text on dark background
  app/components/AIDirectorCapabilities.js
Due: unit, e2e

Significantly reduce swipe sensitivity on mobile devices
  app/components/SwipeContainer.jsx
  app/components/SwipeContainer.module.css
Due: unit, e2e

Create session checkpoint - POLAR_NIGHT_MOBILE_READY
  SESSION_CHECKPOINT_2024_12_24.md
Due: e2e

Complete AI audit and update project metadata with final results
  AI_AUDIT_FINAL_REPORT_2024_12_24.md
  JSON_VAULT.json
Due: e2e

Checkpoint before follow-up message
  app/security/auth.ts
Due: unit, e2e

Refactor security, validation, and monitoring with new utils and configs
  .env.example
  app/api/admin/auth/route.js
  app/api/assistant/route.js
  app/api/contact-form/route.js
  app/utils/cors.ts
  app/utils/sentry-integration.ts
  app/utils/validation.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: unit, integration, e2e

Checkpoint before follow-up message
  app/components/AboutSection.jsx
  app/components/HomePage.module.css
  app/components/HomePage.tsx
  app/utils/ai-director-system.js
Due: unit, e2e

fix: Resolve build errors - add missing dependencies and update Sentry configuration
  app/utils/sentry-integration.ts
  package-lock.json
  package.json
  sentry.client.config.ts
Due: unit, e2e

fix: Move @types/jsonwebtoken to dependencies for Vercel build
  package-lock.json
  package.json
Due: e2e

docs: Add deployment ready status report
  DEPLOYMENT_READY_STATUS.md
Due: e2e

fix: Add missing NeuroExpert logo to HomePage
  app/components/HomePage.tsx
Due: unit, e2e

docs: Add detailed task specification for Claude Sonnet 4
  TASK_FOR_CLAUDE_SONNET_4.md
Due: e2e

fix: Simplify task instructions for Claude Sonnet 4
  TASK_FOR_CLAUDE_SONNET_4.md
Due: e2e

Fix typos and formatting across documentation and components
  CRITTERS_FIX_INFO.md
  FIXED_DEPLOYMENT_STEPS.md
  README.md
  TELEGRAM_INTEGRATION_GUIDE.md
  app/components/BusinessShowcase.js
  app/components/SmartFAQ.js
  app/i18n/translations/ru.json
  public/test-telegram-direct.html
Due: unit, e2e

Enhance homepage design with dynamic text effects and improved animations
  app/components/HomePage.module.css
  app/components/HomePage.tsx
Due: unit, e2e

Update UI text to be more conversational and customer-focused
  app/components/AIDirectorCapabilities.js
  app/components/AnalyticsRealTimeDashboard.tsx
  app/components/ROICalculator.tsx
  app/components/SolutionsSection.jsx
Due: unit, e2e

Refactor text and formatting across multiple components for clarity
  app/components/AboutSection.jsx
  app/components/AdminPanel.js
  app/components/LearningPlatform.js
  app/components/PersonalizationModule.js
  app/components/PricingCalculator.tsx
  app/components/SecuritySection.jsx
  app/components/SolutionsSection.jsx
Due: unit, e2e

🔧 Fix ESLint dependency conflict and improve all texts
  .npmrc
  package-lock.json
  package.json
Due: e2e

🔥 ДЕТАЛЬНЫЙ АУДИТ: Исправлены все критические проблемы на 9 страницах
  app/components/HomePage.module.css
  app/components/PricingCalculator.module.css
  app/components/ROICalculator.tsx
Due: unit, e2e

Checkpoint before follow-up message
  package-lock.json
  package.json
  playwright.config.ts.backup
Due: e2e

🚀 FINAL FIX: Move ESLint to dependencies for Vercel
  package.json
Due: e2e

Checkpoint before follow-up message
  audit-report-2025-01.json
  audit-report.json
  audit-summary-2025-01.md
Due: e2e

Add AI audit action plan and automated security fixes script
  AUDIT_ACTION_PLAN.md
  scripts/auto-fix-audit-issues.js
Due: e2e

Add business logic analysis and pricing structure documentation
  BUSINESS_LOGIC_ANALYSIS.md
  PRICING_STRUCTURE.json
Due: e2e
