Repository neuroexpert-web/NeuroExpert: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

Fix cabinet display issues: remove style jsx, use external CSS classes
  app/globals.css
  app/page.js
  app/styles/workspace-cabinet.css
Due: unit, e2e

feat: полнофункциональный личный кабинет NeuroExpert согласно ТЗ - мультиоконный интерфейс, real-time обновления, AI-ассистент, виджеты, уведомления, геймификация
  app/components/workspace/AIAssistant.js
  app/components/workspace/NotificationCenter.js
  app/components/workspace/WorkspaceContext.js
  app/components/workspace/WorkspaceHeader.js
  app/components/workspace/WorkspaceLayout.js
  app/components/workspace/WorkspaceSidebar.js
  app/components/workspace/WorkspaceWidgets.js
  app/components/workspace/WorkspaceWindows.js
  app/globals.css
  app/page.js
  app/styles/workspace-advanced.css
Due: unit, e2e

docs: добавлена официальная роль AI Developer и документация для команды
  .ai-context/QUICK_START.md
  AI_DEVELOPER_ROLE.md
  CONTRIBUTING.md
  TECH_STANDARDS.md
Due: e2e

fix: исправлены проблемы функциональности личного кабинета - добавлена отладка, исправлены хуки, создана упрощенная версия для тестирования
  app/components/workspace/WorkspaceLayout.js
  app/components/workspace/WorkspaceLayoutFixed.js
  app/components/workspace/WorkspaceSidebar.js
  app/page.js
  app/styles/workspace-advanced.css
  app/test-workspace/page.js
  app/workspace-debug/page.js
Due: unit, e2e

docs: добавлены детальные планы улучшения личного кабинета - полный план соответствия ТЗ и список TODO задач
  docs/WORKSPACE_IMPROVEMENT_PLAN.md
  docs/WORKSPACE_TODO.md
Due: e2e

Refactor AI developer role document with updated mission and structure
  AI_DEVELOPER_ROLE.md
Due: e2e

fix: Vercel build errors - metadata, ESLint, and static generation
  VERCEL_BUILD_FIX.md
  app/layout.js
  next.config.js
  package.json
Due: unit, e2e

Fix Vercel build config and update React/Next.js dependencies
  .npmrc
  VERCEL_BUILD_FIX.md
  next.config.js
  package-lock.json
  package.json
  vercel-build.sh
  vercel.json
Due: e2e

Implement enhanced workspace with dynamic windows and login screen
  app/components/workspace/WorkspaceLayoutFixed.js
  app/globals.css
  app/styles/workspace-enhanced.css
Due: unit, e2e

Add complete workspace layout with enhanced features and styling
  WORKSPACE_TZ_COMPLIANCE.md
  app/components/workspace/WorkspaceLayoutEnhanced.js
  app/globals.css
  app/page.js
  app/styles/workspace-complete.css
Due: unit, e2e

Implement fully functional workspace with dynamic windows and enhanced UI
  FULL_PROJECT_AUDIT_REPORT.md
  app/components/workspace/WorkspaceLayoutFixed.js
  app/globals.css
  app/page.js
  app/styles/workspace-functional.css
Due: unit, e2e

Implement full mobile adaptation for NeuroExpert workspace
  MOBILE_ADAPTATION_REPORT.md
  app/components/MobileNavigation.js
  app/components/workspace/MobileWorkspace.js
  app/components/workspace/WorkspaceLayoutFixed.js
  app/layout.js
  app/styles/mobile-complete.css
  app/utils/mobile-helpers.js
Due: unit, e2e

Add AI chat with premium design and interactive CTA button
  app/components/SmartFloatingAIPremium.js
  app/layout.js
  app/page.js
  app/styles/ai-manager-premium.css
  app/styles/neon-button.css
Due: unit, e2e

Implement comprehensive scroll management and fixes for cross-device scrolling
  SCROLL_CHECK_REPORT.md
  app/layout.js
  app/styles/scroll-fixes.css
  app/utils/scroll-manager.js
Due: unit, e2e

Implement AI chat with Gemini and Claude, update env example and UI
  .env.example
  AI_SETUP_GUIDE.md
  app/api/chat/route.js
  app/components/SmartFloatingAIPremium.js
  app/page.js
Due: unit, integration, e2e

fix: исправлена проблема сборки на Vercel - фиксированы версии React/React-DOM и исправлена ошибка линтера
  app/workspace-debug/page.js
  package-lock.json
  package.json
Due: unit, e2e

Add button functionality checklist and detailed audit report
  BUTTON_FUNCTIONALITY_CHECKLIST.md
  FUNCTIONALITY_AUDIT_REPORT.md
Due: e2e

Add comprehensive testing and improvement documentation for NeuroExpert app
  DETAILED_BUG_REPORT.md
  DETAILED_TESTING_PLAN.md
  IMMEDIATE_ACTION_PLAN.md
Due: e2e

Refactor pricing calculator and add interactive components with state management
  FIXES_COMPLETED_REPORT.md
  app/components/PricingCalculator.js
  app/globals.css
  app/page.js
Due: unit, e2e

Checkpoint before follow-up message
  app/components/AIDirectorCapabilities.js
Due: unit, e2e

feat: платформа готова к запуску - добавлена валидация форм, восстановлен полный функционал личного кабинета, проверена бизнес-логика
  PLATFORM_READY_STATUS.md
  app/components/ContactForm.js
  app/page.js
Due: unit, e2e

docs: платформа готова к запуску - добавлен финальный чек-лист и статус готовности
  LAUNCH_READY_CHECKLIST.md
Due: e2e

Checkpoint before follow-up message
  app/page.js
Due: unit, e2e

fix: исправлена главная страница - кнопки работают, добавлен AI управляющий, улучшено оформление
  HOMEPAGE_FIXES_REPORT.md
  app/globals.css
  app/page.js
Due: unit, e2e

feat: крутые неоновые кнопки на главной - анимированный градиент, правильная функциональность
  app/globals.css
  app/page.js
Due: unit, e2e

fix: исправлена функциональность кнопок на главной - теперь все кнопки работают правильно
  app/components/SmartFloatingAI.js
  app/page.js
Due: unit, e2e

fix: полностью исправлена страница Аналитика - все кнопки работают, фильтры функциональны, добавлены модальные окна
  app/globals.css
  app/page.js
Due: unit, e2e

feat: добавлены интерактивные графики с анимацией в детальную аналитику
  app/components/analytics/FunnelChart.js
  app/components/analytics/RevenueChart.js
  app/components/analytics/TrafficChart.js
  app/globals.css
  app/page.js
Due: unit, e2e

Add launch checklist for NeuroExpert platform with status and priorities
  LAUNCH_FINAL_CHECKLIST.md
Due: e2e

feat: улучшена визуальная часть детальной аналитики - информативные источники трафика, инсайты, улучшенные стили
  app/components/analytics/TrafficChart.js
  app/globals.css
  app/page.js
Due: unit, e2e

fix: исправлены визуальные проблемы - цветная легенда источников трафика, центрирование текста в инсайтах, улучшенная читаемость
  app/components/analytics/TrafficChart.js
  app/globals.css
Due: unit, e2e

fix: полностью переработан график источников трафика - разные цвета, детальная информация, интерактивные карточки
  app/components/analytics/TrafficChart.js
  app/globals.css
Due: unit, e2e

fix: полностью переписан график источников трафика с явными разными цветами через canvas API
  app/components/analytics/TrafficChart.js
  app/globals.css
Due: unit, e2e

fix: исправлена ошибка Chart.js doughnut controller и MIME types
  app/components/analytics/TrafficChart.js
  next.config.js
Due: unit, e2e

fix: оптимизирован размер графика источников трафика - все помещается в окно
  app/components/analytics/TrafficChart.js
  app/globals.css
Due: unit, e2e

fix: источники трафика теперь полностью видны без скролла - горизонтальная компоновка
  app/globals.css
Due: unit, e2e

fix: улучшена видимость источников трафика - вертикальная компоновка, увеличены размеры элементов
  app/globals.css
Due: unit, e2e

fix: увеличена высота окна источников трафика - теперь все элементы видны полностью
  app/globals.css
Due: unit, e2e

fix: увеличены блоки источников трафика для идеальной читаемости текста
  app/globals.css
Due: unit, e2e

fix: исправлены названия источников трафика - короткие имена, полные в подсказках, сетка 2x3
  app/components/analytics/TrafficChart.js
  app/globals.css
Due: unit, e2e

Path conditions:
  unit: any of: app/**, components/**, utils/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  integration: any of: app/api/**, lib/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  e2e: any of: **, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
