Repository neuroexpert-web/NeuroExpert: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

Update Vercel deploy trigger for v3.2.0 - force redeploy with all updates
  vercel-deploy-trigger.json
Due: e2e

Fix content clipping on Processes page - add proper paddings and height adjustments
  app/components/ProcessesStyles.css
Due: unit, e2e

Fix content clipping on Processes page with layout adjustments
  PROCESSES_CLIPPING_FIX.md
Due: e2e

Fix scroll not reaching bottom - increase padding significantly
  app/components/ProcessesStyles.css
Due: unit, e2e

Critical fix: remove all overflow restrictions for Processes page visibility
  app/components/ProcessesStyles.css
Due: unit, e2e

Add solution details section with styling and content for AI solutions
  app/globals.css
  app/page.js
Due: unit, e2e

Add comprehensive safe development plan for NeuroExpert platform
  SAFE_DEVELOPMENT_PLAN_2025.md
Due: e2e

Update terminology, env template, and add phase 1 completion report
  .env.example
  PHASE1_COMPLETION_REPORT.md
  app/components/PricingComparison.js
  app/components/PricingSection.tsx
  app/components/ROIResultModal.tsx
  app/components/TeamModal.js
  backups/2025-01-20/layout.js.backup
  backups/2025-01-20/next.config.js.backup
  backups/2025-01-20/package.json.backup
  backups/2025-01-20/page.js.backup
Due: unit, e2e

✅ Phase 2 Complete: Drag&Drop tested, Performance optimized, Mobile improved
  PHASE2_COMPLETION_REPORT.md
  app/components/OptimizedImage.js
  app/components/pages/HomePage.js
  app/globals.css
  app/hooks/useMediaQuery.js
  backups/2025-01-20/WorkspaceLayout.js.backup
  performance-report.json
  scripts/analyze-performance.js
  tests/drag-drop-test.js
Due: unit, e2e

✅ Phase 3 Complete: PWA added, AI features extended, Integrations implemented
  PHASE3_COMPLETION_REPORT.md
  app/api/integrations/telegram/route.js
  app/components/DataExport.js
  app/components/PWAInstallPrompt.js
  app/components/VoiceInput.js
  app/layout.js
  app/utils/ai-languages.js
  public/manifest.json
  public/offline.html
  public/service-worker.js
Due: unit, integration, e2e

Add unified analytics dashboard with real-time metrics and AI insights
  ANALYTICS_INTEGRATION_COMPLETE.md
  app/components/analytics/UnifiedAnalyticsDashboard.js
  app/layout.js
Due: unit, e2e

🎨 Fix Analytics page: prevent top blocks clipping with proper padding and styles
  app/components/SwipeContainer.module.css
  app/globals.css
Due: unit, e2e

✅ Complete analytics integration with real data support
  .env.example.analytics
  ANALYTICS_INTEGRATION_STATUS.md
  app/api/analytics/google/route.js
  app/api/analytics/test/route.js
  app/api/analytics/unified/route.js
  app/api/analytics/yandex/route.js
  app/components/analytics/AnalyticsStatus.js
  app/components/analytics/UnifiedAnalyticsDashboard.js
  app/page.js
Due: unit, integration, e2e

✅ Complete contact form integration and testing
  CONTACT_FORM_SETUP.md
  app/api/test/route.js
  app/components/ContactFormHandler.js
  app/components/ContactFormTest.js
  app/page.js
Due: unit, integration, e2e

Add project manager checklist for NeuroExpert v3.1.1 release
  PROJECT_MANAGER_CHECKLIST.md
Due: e2e

Add comprehensive project guide for NeuroExpert platform
  NEUROEXPERT_PROJECT_GUIDE.md
Due: e2e

Refactor landing page with updated startup narrative and team details
  app/page.js
Due: unit, e2e

Refactor page layout and mobile responsiveness in CSS styles
  app/globals.css
  app/styles/analytics-style-v2.css
Due: unit, e2e

Refactor responsive design and styling for filters and select elements
  app/globals.css
  app/styles/analytics-style-v2.css
  app/styles/analytics-style-v3.css
Due: unit, e2e

Remove tooltips and onboarding components from dashboard
  app/page.js
Due: unit, e2e

feat: Implement comprehensive platform improvements
  .env.example
  IMPROVEMENTS_COMPLETED_REPORT.md
  alembic.ini
  alembic/versions/001_initial_migration.py
  app/api/health/route.js
  app/components/__tests__/LazyLoader.test.tsx
  app/components/optimized/LazyLoader.tsx
  app/components/optimized/OptimizedImage.tsx
  app/utils/monitoring.js
  app/utils/performance.js
  auth.py
  init_db.py
  main.py
  models.py
  next.config.js
  package.json
  scripts/setup-database.sh
  tests/test_integration.py
  tests/test_validation.py
  validation.py
Due: unit, integration, e2e

Refactor: Improve analytics page UX and styling
  app/layout.js
  app/page.js
  app/styles/analytics-improvements.css
Due: unit, e2e

Refactor: Improve audience section UX and styling
  app/layout.js
  app/page.js
  app/styles/audience-improvements.css
Due: unit, e2e

feat: Integrate Vercel Speed Insights and performance monitoring
  .env.example
  VERCEL_SPEED_INSIGHTS_SETUP.md
  app/api/analytics/performance/route.js
  app/components/PerformanceWidget.jsx
  app/layout.js
  app/page.js
  app/styles/performance-widget.css
  app/utils/performance-insights.js
  app/utils/performance.js
  package-lock.json
  package.json
Due: unit, integration, e2e

Fix: Improve analytics page layout and readability
  LAYOUT_FIXES_REPORT.md
  app/layout.js
  app/page.js
  app/styles/analytics-layout-fix.css
  app/styles/dashboard-layout-fix.css
  app/styles/mobile-analytics-fix.css
  app/styles/text-readability-fix.css
Due: unit, e2e

Refactor: Rename AI director to manager and update docs
  DEPLOYMENT_FINAL_GUIDE.md
  PLATFORM_FINAL_STATUS_2025.md
  app/api/assistant/route.js
  app/components/PricingComparison.js
  app/components/PricingSection.tsx
  app/components/ROIResultModal.tsx
  app/components/SmartFloatingAI.js
  app/components/TeamModal.js
  app/utils/ai-manager-system.js
Due: unit, integration, e2e

feat: Enhance analytics page with AI insights and export
  ANALYTICS_PAGE_COMPLETED.md
  ANALYTICS_PAGE_IMPROVEMENTS.md
  app/globals.css
  app/page.js
Due: unit, e2e

Refactor: Improve analytics page layout and responsiveness
  ANALYTICS_PAGE_FIXES_COMPLETE.md
  app/globals.css
  app/styles/analytics-style-v2.css
Due: unit, e2e

Refactor: Remove tooltips from analytics page
  ANALYTICS_TOOLTIPS_REMOVED.md
  app/globals.css
  app/page.js
Due: unit, e2e

Refactor: Optimize audience page layout and styles
  AUDIENCE_PAGE_OPTIMIZED.md
  app/globals.css
  app/page.js
  app/styles/audience-style-v2.css
Due: unit, e2e

Refactor: Remove all tooltips and info buttons from Analytics page
  ANALYTICS_TOOLTIPS_FULLY_REMOVED.md
  app/page.js
Due: unit, e2e

feat: Implement improved pricing calculator
  PRICING_CALCULATOR_IMPROVEMENTS.md
  app/components/PricingCalculatorImproved.css
  app/components/PricingCalculatorImproved.js
  app/page.js
Due: unit, e2e

Fix: Correctly display traffic insights panel
  ANALYTICS_BLOCK_FIX.md
  app/globals.css
  app/page.js
Due: unit, e2e

Refactor: Implement new ROI calculator and improve pricing page layout
  PRICING_PAGE_OPTIMIZED.md
  app/components/ROICalculatorImproved.css
  app/components/ROICalculatorImproved.js
  app/page.js
  app/styles/pricing-style.css
Due: unit, e2e

feat: Implement comprehensive performance and security optimizations
  NEUROEXPERT_V3_2_UPGRADE_REPORT.md
  app/api/graphql/route.ts
  app/components/PremiumUISystem.tsx
  app/components/RealTimeMonitoringDashboard.tsx
  app/utils/advanced-security.ts
  app/utils/ai-system-v2.ts
  app/utils/analytics-ml-engine.ts
  app/utils/performance-optimizer.ts
  next.config.js
  package.json
Due: unit, integration, e2e

Checkpoint before follow-up message
  app/api/graphql/route.ts
  app/components/AnalyticsChartsComponent.js
  app/components/AnalyticsCore.js
  app/components/AnalyticsDashboardLegacy.jsx
  app/components/HeroSection.tsx
  app/components/JourneySection.tsx
  app/components/PremiumBackground.tsx
  app/components/PremiumCard.tsx
  app/components/PremiumUISystem.tsx
  app/page.js
  app/page.js.backup
  app/utils/performance-optimizer.ts
  package-lock.json
  package.json
Due: unit, integration, e2e

🚀 NeuroExpert v3.2 - Maximum Platform Upgrade Complete
  app/api/check-openrouter/route.js
  app/api/graphql/route.ts
  app/components/dashboard/DashboardLayout.tsx
  app/components/dashboard/widgets/SiteHealthWidget.tsx
  app/utils/advanced-security.ts
  app/utils/ai-system-v2.ts
  app/utils/analytics-ml-engine.ts
  app/utils/performance-optimizer.ts
  package-lock.json
  package.json
Due: unit, integration, e2e

🚀 Rollback to ROI calculator refactor for Vercel deployment
  package-lock.json
Due: e2e

Checkpoint before follow-up message
  POST_DEPLOY_IMPROVEMENTS_PLAN.md
  VERCEL_DEPLOY_INSTRUCTIONS.md
Due: e2e

🔧 Fix Node.js version to 22.x for Vercel compatibility
  package.json
Due: e2e

Path conditions:
  unit: any of: app/**, components/**, utils/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  integration: any of: app/api/**, lib/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  e2e: any of: **, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
