Repository neuroexpert-web/NeuroExpert: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

Replace with simple page version - inline styles and minimal animations
  app/page-complex.tsx.backup
  app/page.tsx
Due: unit, e2e

Checkpoint before follow-up message
  app/page.tsx
Due: unit, e2e

Fix TypeScript error - add window.openAIManager type declaration
  app/home-sections/page.tsx
Due: unit, e2e

Add professional design effects - gradients, shadows, particles and animations
  app/page.tsx
Due: unit, e2e

Complete premium redesign - professional landing page with proper structure
  app/page-old.tsx.backup
  app/page.module.css
  app/page.tsx
Due: unit, e2e

Fix CSS modules - remove :root and CSS variables for Next.js compatibility
  app/page.module.css
Due: unit, e2e

Epic neon polar night redesign with animated glowing buttons
  app/page.module.css
Due: unit, e2e

Create comprehensive NeuroExpert platform checklist and documentation
  NEUROEXPERT_COMPLETE_CHECKLIST.md
Due: e2e

Enhance project setup with CI/CD, analytics, i18n, and dev tooling
  .eslintrc.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/workflows/ci-cd-complete.yml
  .prettierrc
  app/components/Analytics.js
  app/i18n/config.js
  app/i18n/translations/en.json
  app/i18n/translations/ru.json
  docs/SECRETS_SETUP.md
  docs/V0_ALTERNATIVES.md
  package.json
Due: unit, e2e

Add dev tools, quick start guide, and automated development workflow
  QUICK_START_AUTOMATION.md
  app/components/DevTools.js
  docs/AUTOMATED_DEVELOPMENT_WORKFLOW.md
  package.json
Due: unit, e2e

Add comprehensive workspace startup guide for developers
  START_WORKSPACE.md
  package-lock.json
Due: e2e

Add preview.html with NeuroExpert Platform landing page
  public/preview.html
Due: none

Refactor ROI calculator with modular CSS and enhanced animations
  app/components/ROICalculator.module.css
  app/components/ROICalculator.tsx
Due: unit, e2e

Add Desktop Cursor setup guide and automated setup script
  DESKTOP_CURSOR_SETUP.md
  setup-desktop-cursor.sh
Due: e2e

Create main landing page with dynamic components and responsive design
  app/platform/page.js
Due: unit, e2e

Update package dependencies and versions
  package-lock.json
  package.json
Due: e2e

Add dev environment setup and Next.js cache configuration
  DEVELOPMENT_SETUP.md
  next.config.js
Due: e2e

Deleted main.cpython-313.pyc
  __pycache__/main.cpython-313.pyc
Due: e2e

Updated package-lock.json
  package-lock.json
Due: e2e

Add comprehensive project analysis report and summary documents
  PROJECT_ANALYSIS_REPORT.md
  PROJECT_ANALYSIS_SUMMARY.md
Due: e2e

Create technical specifications for NeuroExpert AI business platform
  BOLT_NEW_TASK_RUSSIAN.md
  BOLT_NEW_TECHNICAL_TASK.md
Due: e2e

Add critical path analysis, integration plan, and pricing documentation
  CRITICAL_PATH_ANALYSIS.md
  NEUROEXPERT_INTEGRATION_PLAN.md
  NEUROEXPERT_PRICING_TABLE.md
Due: e2e

Add futuristic design system with neon components and animations
  DESIGN_SYSTEM_V2.md
  app/components/AILoader.module.css
  app/components/AILoader.tsx
  app/components/FuturisticCard.module.css
  app/components/FuturisticCard.tsx
  app/components/NeonButton.module.css
  app/components/NeonButton.tsx
  app/globals.css
Due: unit, e2e

Refactor hero and AI components, add futuristic design system
  app/components/FuturisticAIChat.module.css
  app/components/FuturisticAIChat.tsx
  app/components/FuturisticHero.module.css
  app/components/FuturisticHero.tsx
  app/components/ROICalculator.tsx
  app/page.js
  app/showcase/page.tsx
  app/showcase/showcase.module.css
Due: unit, e2e

Add AI Cursor with advanced text selection and analysis features
  app/api/ai-cursor/route.js
  app/components/AICursor.module.css
  app/components/AICursor.tsx
  app/components/AICursorEnhanced.module.css
  app/components/AICursorEnhanced.tsx
  app/page.js
Due: unit, integration, e2e

Add analytics, swipe navigation, and security modules to project
  app/api/analytics/route.js
  app/components/AICursorEnhanced.tsx
  app/components/ROICalculator.tsx
  app/components/SwipeNavigation.module.css
  app/components/SwipeNavigation.tsx
  app/demo/swipe/page.module.css
  app/demo/swipe/page.tsx
  app/layout.tsx
  app/providers/AnalyticsProvider.tsx
  app/utils/analytics.ts
  app/utils/security.ts
Due: unit, integration, e2e

Checkpoint before follow-up message
  app/components/AdvancedROICalculator.tsx
Due: unit, e2e

Add advanced ROI calculator with styling and responsive design
  app/components/AdvancedROICalculator.module.css
  app/globals.css
  app/roi-pro/page.module.css
  app/roi-pro/page.tsx
Due: unit, e2e

Add pricing calculator, API route, and refactor main page structure
  app/api/pricing/route.ts
  app/components/PricingCalculator.module.css
  app/components/PricingCalculator.tsx
  app/page.js
  app/page.module.css
Due: unit, integration, e2e

Add metrics dashboard with comprehensive analytics and visualizations
  app/api/metrics/route.ts
  app/components/MetricsDashboard.module.css
  app/components/MetricsDashboard.tsx
  app/dashboard/page.module.css
  app/dashboard/page.tsx
Due: unit, integration, e2e

Checkpoint before follow-up message
  .eslintrc.json
  app/components/NeonButton.tsx
  app/utils/analytics.ts
  package-lock.json
  package.json
Due: unit, e2e

Checkpoint before follow-up message
  app/utils/analytics.ts
Due: unit, e2e

Checkpoint before follow-up message
  app/components/NeonButton.tsx
  app/utils/analytics.ts
  package-lock.json
  package.json
Due: unit, e2e

Refactor: Remove lodash, improve type safety, simplify motion props
  app/components/NeonButton.tsx
  app/utils/analytics.ts
  app/utils/security.ts
Due: unit, e2e

Add quick start guide and technical implementation report
  QUICK_START.md
  TECHNICAL_IMPLEMENTATION_REPORT.md
Due: e2e

Temporarily disable admin authentication for testing purposes
  app/components/AdminPanel.js
Due: unit, e2e

Refactor homepage layout and styling with improved sections and responsiveness
  app/page.js
  app/page.module.css
Due: unit, e2e

Refactor design system, add navigation, and enhance visual effects
  app/components/FuturisticHero.module.css
  app/components/Navigation.module.css
  app/components/Navigation.tsx
  app/components/ROICalculator.tsx
  app/components/WowEffects.module.css
  app/components/WowEffects.tsx
  app/globals.css
  app/layout.js
Due: unit, e2e

Refactor ROI calculation method and form submission handling
  app/components/ROICalculator.tsx
Due: unit, e2e

Add debugging logs and error handling to metrics and pricing APIs
  app/components/MetricsDashboard.tsx
  app/components/Navigation.module.css
  app/components/PricingCalculator.tsx
  app/test/page.module.css
  app/test/page.tsx
Due: unit, e2e

Path conditions:
  unit: any of: app/**, components/**, utils/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  integration: any of: app/api/**, lib/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  e2e: any of: **, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
