Repository neuroexpert-web/NeuroExpert: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

Add deployment status log markdown for tracking Vercel deployments
  DEPLOYMENT_STATUS_LOG.md
Due: e2e

🔥 CRITICAL: Force Vercel deployment - updated cache bust
  vercel.json
Due: e2e

Add Vercel troubleshooting guide for deployment issues
  VERCEL_TROUBLESHOOTING.md
  package-lock.json
Due: e2e

🚨 FIX: Updated Node version to 18.x and fixed vercel.json configuration
  .nvmrc
  package.json
  public/deploy-test.txt
  vercel.json
Due: e2e

Add troubleshooting guide for Vercel deployment issues
  VERCEL_DEPLOYMENT_ISSUE.md
Due: e2e

🔧 FIX: Simplified vercel.json to fix runtime error
  vercel.json
Due: e2e

Checkpoint before follow-up message
  app/components/SwipeContainer.module.css
  app/components/dashboard/DashboardLayout.module.css
  app/globals.css
Due: unit, e2e

✨ FEAT: Улучшены виджеты личного кабинета - SiteHealth, Leads и SEO теперь полнофункциональные
  app/components/dashboard/widgets/LeadsWidget.module.css
  app/components/dashboard/widgets/LeadsWidget.tsx
  app/components/dashboard/widgets/SEOWidget.module.css
  app/components/dashboard/widgets/SEOWidget.tsx
  app/components/dashboard/widgets/SiteHealthWidget.module.css
  app/components/dashboard/widgets/SiteHealthWidget.tsx
Due: unit, e2e

✨ FEAT: Улучшен SocialMediaWidget - добавлены реальные данные соцсетей с анимацией
  app/components/dashboard/widgets/SocialMediaWidget.module.css
  app/components/dashboard/widgets/SocialMediaWidget.tsx
Due: unit, e2e

✨ FEAT: Улучшен EmailMarketingWidget - добавлены кампании, статистика и анимации
  app/components/dashboard/widgets/EmailMarketingWidget.module.css
  app/components/dashboard/widgets/EmailMarketingWidget.tsx
Due: unit, e2e

🐛 FIX: Исправлена кнопка 'Получить консультацию' - теперь открывает AI чат + добавлен выбор модели
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: unit, e2e

Add Vercel deployment status documentation with troubleshooting guide
  VERCEL_DEPLOYMENT_STATUS.md
Due: e2e

🐛 FIX: Исправлен AI чат - теперь отвечает и показывает кнопки выбора модели
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: unit, e2e

🔧 FIX: Полное исправление AI чата - видимость элементов, правильный селектор кнопки, дебаг-логи
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
  app/page.js
  app/test-ai-chat.html
Due: unit, e2e

Remove test AI chat HTML file
  app/test-ai-chat.html
Due: unit, e2e

✨ feat: Улучшен UI диалогового окна AI - добавлены компактные кнопки выбора модели и закрытия в шапку
  VERCEL_ENV_SETUP.md
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
Due: unit, e2e

🚀 feat: Добавлена поддержка всех AI моделей - Gemini, GPT-4 (OpenRouter), Claude
  VERCEL_ENV_SETUP.md
  app/api/assistant/route.js
  test-ai-models.html
Due: unit, integration, e2e

🐛 fix: Исправлена валидация API ключей для всех моделей
  app/api/assistant/route.js
Due: unit, integration, e2e

🔧 fix: Улучшена диагностика и исправлены модели AI
  app/api/assistant/route.js
  app/api/test-env/route.js
Due: unit, integration, e2e

Checkpoint before follow-up message
  app/api/assistant/route.js
Due: unit, integration, e2e

🐛 fix: Исправлены модели AI и улучшена диагностика
  app/api/assistant/route.js
Due: unit, integration, e2e

🔧 fix: Обновлены модели AI для совместимости
  app/api/assistant/route.js
Due: unit, integration, e2e

🔧 fix: Улучшена интеграция OpenRouter и добавлена диагностика
  app/api/assistant/route.js
  app/api/assistant/together.js
  app/api/test-openrouter/route.js
Due: unit, integration, e2e

🐛 fix: Исправлена конфигурация для Vercel деплоя
  middleware.js
  next.config.js
  package.json
Due: e2e

Checkpoint before follow-up message
  package-lock.json
  public/deploy-test.txt
Due: e2e

✨ feat: Добавлена поддержка Mixtral через Groq API
  VERCEL_ENV_SETUP.md
  app/api/assistant/route.js
  app/components/EnhancedFloatingAI.js
Due: unit, integration, e2e

🔧 fix: Улучшена обработка отсутствующего Groq API ключа
  app/api/assistant/route.js
Due: unit, integration, e2e

Checkpoint before follow-up message
  app/api/assistant/route.js
  app/components/EnhancedFloatingAI.js
Due: unit, integration, e2e

🚀 feat: Добавлена полная поддержка GPT-4 через OpenRouter
  VERCEL_ENV_SETUP.md
  app/api/assistant/route.js
Due: unit, integration, e2e

🔄 feat: Заменил Mixtral на GPT в интерфейсе
  app/api/assistant/route.js
  app/components/EnhancedFloatingAI.js
Due: unit, integration, e2e

🔧 fix: Улучшена интеграция с OpenRouter API
  app/api/assistant/route.js
  app/api/test-openrouter-v2/route.js
Due: unit, integration, e2e

🔧 fix: Убрана дублирующая опция GPT и улучшена авторизация
  app/api/assistant/route.js
  app/api/check-openrouter/route.js
  app/components/EnhancedFloatingAI.js
Due: unit, integration, e2e

🔒 SECURITY: Удалены все открытые API ключи из репозитория
  VERCEL_ENV_SETUP.md
  app/api/assistant/route.js
  app/api/check-openrouter/route.js
  app/api/test-openrouter-v2/route.js
Due: unit, integration, e2e

Add process action handlers and create detailed work report
  WORK_REPORT_2025_01_31.md
  app/page.js
Due: unit, e2e

Fix Vercel deployment - remove conflicting configuration
  VERCEL_DEPLOYMENT_FIX.md
  VERCEL_DEPLOYMENT_SOLUTION.md
  vercel-clean-deploy.sh
  vercel-deploy-trigger.json
  vercel.json
Due: e2e

Add git commit confirmation report
  GIT_COMMIT_CONFIRMATION.md
Due: e2e

Upgrade AI Assistant to v5.0 HUMAN - more personal, fullscreen chat, updated services
  AI_ASSISTANT_UPGRADE_REPORT.md
  app/api/assistant/route.js
  app/components/EnhancedFloatingAI.css
  app/components/EnhancedFloatingAI.js
  app/utils/prompts/neuroexpert_v5_human.md
Due: unit, integration, e2e

Add PricingCalculatorV2 with development services - websites, apps, e-commerce
  PRICING_CALCULATOR_V2_REPORT.md
  app/components/PricingCalculatorV2.js
  app/components/PricingCalculatorV2.module.css
  app/page.js
Due: unit, e2e

Fix Processes page scrolling - add proper scroll containers and custom scrollbars
  PROCESSES_PAGE_FIX_REPORT.md
  app/components/ProcessesStyles.css
  app/globals.css
  app/page.js
Due: unit, e2e

Path conditions:
  unit: any of: app/**, components/**, utils/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  integration: any of: app/api/**, lib/**, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
  e2e: any of: **, but not: **/*.test.js, **/*.spec.js, **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/__tests__/**, **/__mocks__/**, **/coverage/**, .next/**, out/**, public/**, scripts/**, *.config.js, *.setup.js
